python=3.12
pip
python-dotenv
requests
pyyaml
tqdm
ipykernel
notebook
ipywidgets
nbformat
boto3
#s3fs
#psycopg2-binary
numpy
pandas
scipy
plotly
scikit-learn
imbalanced-learn
mlxtend
xgboost
lightgbm
optuna
statsmodels
#geopy